extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand(href="#") xml2struct

  div.container
    h3 Convert XML to Go struct
    p XML
    textarea#xml.form-control(rows="10")
    br
    button#convert-btn.btn.btn-primary Convert!
    br
    br
    p Go struct
    textarea#result.form-control(rows="10")
